<ul class="subscription" data-subscription="rss">
  <li><a href="/rss.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
</ul>

<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:astrofrog.github.io" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>

<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/archives.html">Archives</a></li>
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for page in PAGES %}
      <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    <!-- TODO: add categories here? -->
  {% endif %}
</ul>
